<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GameBoy Advance</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-toggle>Pokémon Ruby/Sapphire - 16.22 millones de copias vendidas</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-toggle>Pokémon FireRed/LeafGreen - 12 millones de copias vendidas</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-toggle>Mario Kart: Super Circuit - 5.91 millones de copias vendidas</ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
