<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PlayStation 3</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Grand Theft Auto V</h2>
        <h3 style="font-size: 0.9rem; color: gray;">30.0 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>

    <ion-item color="primary">
      <ion-label>
        <h2>The Last of Us</h2>
        <h3 style="font-size: 0.9rem; color: white;">17 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>

    <ion-item color="secondary">
      <ion-label>
        <h2>Gran Turismo 5</h2>
        <h3 style="font-size: 0.9rem; color: white;">11.94 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>

    <ion-item color="tertiary">
      <ion-label>
        <h2>Uncharted 3: Drake's Deception</h2>
        <h3 style="font-size: 0.9rem; color: white;">10 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>

    <ion-item color="success">
      <ion-label>
        <h2>Heavy Rain</h2>
        <h3 style="font-size: 0.9rem; color: white;">5.3 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>

    <ion-item color="warning">
      <ion-label>
        <h2>LittleBigPlanet</h2>
        <h3 style="font-size: 0.9rem; color: white;">7 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>

    <ion-item color="danger">
      <ion-label>
        <h2>God of War III</h2>
        <h3 style="font-size: 0.9rem; color: white;">5.2 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>

    <ion-item color="light">
      <ion-label>
        <h2>Ratchet & Clank: A Crack in Time</h2>
        <h3 style="font-size: 0.9rem; color: black;">4.1 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-label>
        <h2>Resistance 3</h2>
        <h3 style="font-size: 0.9rem; color: white;">2 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>

    <ion-item color="dark">
      <ion-label>
        <h2>Gran Turismo 6</h2>
        <h3 style="font-size: 0.9rem; color: rgb(0, 0, 0);">5.94 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
