<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nintendo DS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>New Super Mario Bros</h2>
        <h3 style="font-size: 0.9rem; color: gray;">30.32 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Nintendogs</h2>
        <h3 style="font-size: 0.9rem; color: gray;">23.96 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Mario Kart DS</h2>
        <h3 style="font-size: 0.9rem; color: gray;">23.60 millones de copias vendidas</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
