<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nintendo Switch</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select label="Juego 1" placeholder="Mario Kart 8 Deluxe">
        <ion-select-option value="mario-kart">Mario Kart 8 Deluxe - 48.41 millones de copias vendidas</ion-select-option>
        <ion-select-option value="animal-crossing">Animal Crossing: New Horizons - 42.16 millones de copias vendidas</ion-select-option>
        <ion-select-option value="smash-bros">Super Smash Bros. Ultimate - 30.45 millones de copias vendidas</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Juego 2" label-placement="fixed" placeholder="Animal Crossing: New Horizons">
        <ion-select-option value="mario-kart">Mario Kart 8 Deluxe - 48.41 millones de copias vendidas</ion-select-option>
        <ion-select-option value="animal-crossing">Animal Crossing: New Horizons - 42.16 millones de copias vendidas</ion-select-option>
        <ion-select-option value="smash-bros">Super Smash Bros. Ultimate - 30.45 millones de copias vendidas</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Juego 3" label-placement="fixed" placeholder="Super Smash Bros. Ultimate">
        <ion-select-option value="mario-kart">Mario Kart 8 Deluxe - 48.41 millones de copias vendidas</ion-select-option>
        <ion-select-option value="animal-crossing">Animal Crossing: New Horizons - 42.16 millones de copias vendidas</ion-select-option>
        <ion-select-option value="smash-bros">Super Smash Bros. Ultimate - 30.45 millones de copias vendidas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
