<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Inicio de Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #formularioLogin="ngForm" (ngSubmit)="login(formularioLogin)">
    <ion-item>
      <ion-input
        placeholder="Correo Electrónico"
        type="email"
        name="email"
        [(ngModel)]="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        placeholder="Contraseña"
        type="password"
        name="password"
        [(ngModel)]="password"
      ></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">
      Ingresar
    </ion-button>
  </form>
  <ion-item lines="none">
    <ion-label>
      ¿No tienes cuenta? 
      <a href="/crear-cuenta" style="color: var(--ion-color-primary);">Crear cuenta nueva</a>
    </ion-label>
  </ion-item>
</ion-content>